WP_TimelogTracker/Service References/Timelog/SecurityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.timelog.com/api/tlp/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecurityService" targetNamespace="http://www.timelog.com/api/tlp/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.timelog.com/api/tlp/v1/Imports">
      <xsd:import schemaLocation="http://app.timelog.dk/local/WebServices/Security/V1_0/SecurityService.svc?xsd=xsd0" namespace="http://www.timelog.com/api/tlp/v1" />
      <xsd:import schemaLocation="http://app.timelog.dk/local/WebServices/Security/V1_0/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://app.timelog.dk/local/WebServices/Security/V1_0/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
      <xsd:import schemaLocation="http://app.timelog.dk/local/WebServices/Security/V1_0/SecurityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" />
      <xsd:import schemaLocation="http://app.timelog.dk/local/WebServices/Security/V1_0/SecurityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SecurityService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="SecurityService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityService_GetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="SecurityService_GetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityService_GetAPIUserToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAPIUserToken" />
  </wsdl:message>
  <wsdl:message name="SecurityService_GetAPIUserToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAPIUserTokenResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityService_GetTimeRegistrationSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeRegistrationSettings" />
  </wsdl:message>
  <wsdl:message name="SecurityService_GetTimeRegistrationSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeRegistrationSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="SecurityService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="SecurityService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="IsAliveRequest" message="tns:SecurityService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="IsAliveReponse" message="tns:SecurityService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input wsaw:Action="GetTokenRequest" message="tns:SecurityService_GetToken_InputMessage" />
      <wsdl:output wsaw:Action="GetTokenReponse" message="tns:SecurityService_GetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAPIUserToken">
      <wsdl:input wsaw:Action="GetAPIUserTokenRequest" message="tns:SecurityService_GetAPIUserToken_InputMessage" />
      <wsdl:output wsaw:Action="GetAPIUserTokenReponse" message="tns:SecurityService_GetAPIUserToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeRegistrationSettings">
      <wsdl:input wsaw:Action="GetTimeRegistrationSettingsRequest" message="tns:SecurityService_GetTimeRegistrationSettings_InputMessage" />
      <wsdl:output wsaw:Action="GetTimeRegistrationSettingsReponse" message="tns:SecurityService_GetTimeRegistrationSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="GetUserRequest" message="tns:SecurityService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="GetUserReponse" message="tns:SecurityService_GetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SecurityService" type="tns:SecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="IsAliveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="GetTokenRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAPIUserToken">
      <soap:operation soapAction="GetAPIUserTokenRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeRegistrationSettings">
      <soap:operation soapAction="GetTimeRegistrationSettingsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="GetUserRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityService">
    <wsdl:port name="BasicHttpBinding_SecurityService" binding="tns:BasicHttpBinding_SecurityService">
      <soap:address location="http://app.timelog.dk/local/WebServices/Security/V1_0/SecurityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>