WP_TimelogTracker/Service References/tlpProject/ProjectManagementService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://app.timelog.dk/local/WebServices/ProjectManagement/V1_0/ProjectManagementService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
  <xs:complexType name="SecurityToken">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" base="q1:APIBase">
        <xs:sequence>
          <xs:element name="Initials" nillable="true" type="xs:string" />
          <xs:element name="Expires" type="xs:dateTime" />
          <xs:element name="Hash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityToken" nillable="true" type="tns:SecurityToken" />
</xs:schema>