WP_TimelogTracker/Service References/tlpProject/ProjectManagementService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.timelog.com/api/tlp/v1" elementFormDefault="qualified" targetNamespace="http://www.timelog.com/api/tlp/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://app.timelog.dk/local/WebServices/ProjectManagement/V1_0/ProjectManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" />
  <xs:import schemaLocation="http://app.timelog.dk/local/WebServices/ProjectManagement/V1_0/ProjectManagementService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
  <xs:import schemaLocation="http://app.timelog.dk/local/WebServices/ProjectManagement/V1_0/ProjectManagementService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.ProjectManagement.V1_0" />
  <xs:import schemaLocation="http://app.timelog.dk/local/WebServices/ProjectManagement/V1_0/ProjectManagementService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksAllocatedToEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initials" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" minOccurs="0" name="token" nillable="true" type="q1:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksAllocatedToEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="GetTasksAllocatedToEmployeeResult" nillable="true" type="q2:ResponseOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllocationsToEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initials" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" minOccurs="0" name="token" nillable="true" type="q3:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllocationsToEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="GetAllocationsToEmployeeResult" nillable="true" type="q4:ResponseOfAllocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initials" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" minOccurs="0" name="token" nillable="true" type="q5:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="GetEmployeeWorkResult" nillable="true" type="q6:ResponseOfWorkUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.ProjectManagement.V1_0" minOccurs="0" name="work" nillable="true" type="q7:ArrayOfWorkUnit" />
        <xs:element minOccurs="0" name="source" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" minOccurs="0" name="token" nillable="true" type="q8:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="InsertWorkResult" nillable="true" type="q9:BatchResponseOfWorkUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.ProjectManagement.V1_0" minOccurs="0" name="work" nillable="true" type="q10:ArrayOfWorkUnit" />
        <xs:element minOccurs="0" name="source" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" minOccurs="0" name="token" nillable="true" type="q11:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="UpdateWorkResult" nillable="true" type="q12:BatchResponseOfWorkUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="work" nillable="true" type="q13:ArrayOfguid" />
        <xs:element minOccurs="0" name="source" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" minOccurs="0" name="token" nillable="true" type="q14:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="DeleteWorkResult" nillable="true" type="q15:BatchResponseOfWorkUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAllocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.ProjectManagement.V1_0" minOccurs="0" name="allocations" nillable="true" type="q16:ArrayOfAllocation" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Security.V1_0" minOccurs="0" name="token" nillable="true" type="q17:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAllocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="InsertAllocationResult" nillable="true" type="q18:BatchResponseOfAllocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>